[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-blox-docs"]
	path = themes/hugo-blox-docs
	url = https://github.com/HugoBlox/theme-documentation.git
